header.header
	.container.header__container
		.header__logo-wrapper
			a.header__logo(href='/')
				img(src="images/logo.svg", alt="logo")
		.header__menu.menu-header 
			.menu-header__burger 
				span 
				span 
				span 
			ul.menu-header__list 
				li.menu-header__item 
					a.menu-header__link(href="galary.html").click Галерея
				li.menu-header__item 
					a.menu-header__link(href="/#hugge-style").click Еда Хюгге
				li.menu-header__item 
					a.menu-header__link(href="/#safety").click Безопасность
				li.menu-header__item 
					a.menu-header__link(href="/#constructive").click Конструктив
				li.menu-header__item 
					a.menu-header__link(href="characteristics.html").click Характеристики
				li.menu-header__item 
					a.menu-header__link(href="/#last").click Вопросы
				li.menu-header__item 
					a.menu-header__link(href="/#").click Контакты
		.header__tel 
			a(href="tel:88007003062") 
				img(src="images/tel.svg", alt="tel")
				span 8 800 700 30 62
			span Бесплатно по всей РФ


	.header__menu-mobile.mobile-header-menu
		ul.menu-header__list 
			li.menu-header__item 
				a.menu-header__link.menu-header__link-mobile(href="galary.html").click Галерея
			li.menu-header__item 
				a.menu-header__link.menu-header__link-mobile(href="/#hugge").click О Хюгге
			li.menu-header__item 
				a.menu-header__link.menu-header__link-mobile(href="/#hugge-style").click Еда Хюгге
			li.menu-header__item 
				a.menu-header__link.menu-header__link-mobile(href="/#block-oven").click Пеллеты
			li.menu-header__item 
				a.menu-header__link.menu-header__link-mobile(href="/#").click Комплектация
			li.menu-header__item 
				a.menu-header__link.menu-header__link-mobile(href="/#").click Надежность
			li.menu-header__item 
				a.menu-header__link.menu-header__link-mobile(href="/#safety").click Безопасность
			li.menu-header__item 
				a.menu-header__link.menu-header__link-mobile(href="/#block-oven").click Преимущества
			li.menu-header__item 
				a.menu-header__link.menu-header__link-mobile(href="characteristics.html").click Характеристики
			li.menu-header__item 
				a.menu-header__link.menu-header__link-mobile(href="/#transformation").click Трансформация
			li.menu-header__item 
				a.menu-header__link.menu-header__link-mobile(href="/#instruction-video").click Видео презентация
			li.menu-header__item 
				a.menu-header__link.menu-header__link-mobile(href="/#instruction-video").click Инструкция по сборке
			li.menu-header__item 
				a.menu-header__link.menu-header__link-mobile(href="/#").click Видео производства
		.mobile-header-menu__right 
			.mobile-header-menu__right-top 
				a(href="/check.html") Регистрация печи
				.mobile-header-menu__tel
					a(href="tel:88007003062") 
						img(src="images/tel.svg", alt="tel")
						span 8 800 700 30 62
					span Бесплатно по всей РФ
				.mobile-header-menu__email
					a(href="mailto:sale@hyggehot.ru")
						img(src="images/email.svg", alt="email")
						span sale@hyggehot.ru
