extends ../layouts/default

block vars
	-
		const page = {
			title: 'HYGGELIG'
		};

block main
	.galary 

		.galary__container.container
			.galary__title.general-title 
				img(src="images/arrow.svg", alt="arrow")
				span Галерея
				span.galary__title-line.general-title-line 
			.galary__btns

			.swiper.mySwiper
				.swiper-wrapper
					.swiper-slide
						.galary__items
							.galary__row
								.galary__item
									a.galary__img(href="images/1large/1.jpg" data-fancybox="gallery1")
										img(src='images/1large/a1.jpg' alt='')
								.galary__item
									a.galary__img(href="images/1large/2.jpg" data-fancybox="gallery1")
										img(src='images/1large/a2.jpg' alt='')
								.galary__item
									a.galary__img(href="images/1large/3.jpg" data-fancybox="gallery1")
										img(src='images/1large/a3.jpg' alt='')
								.galary__item
									a.galary__img(href="images/1large/4.jpg" data-fancybox="gallery1")
										img(src='images/1large/a4.jpg' alt='')
								.galary__item
									a.galary__img(href="images/1large/5.jpg" data-fancybox="gallery1")
										img(src='images/1large/a5.jpg' alt='')
								.galary__item
									a.galary__img(href="images/1large/6.jpg" data-fancybox="gallery1")
										img(src='images/1large/a6.jpg' alt='')
								.galary__item
									a.galary__img(href="images/1large/7.jpg" data-fancybox="gallery1")
										img(src='images/1large/a7.jpg' alt='')
								.galary__item
									a.galary__img(href="images/1style/1.jpg" data-fancybox="gallery1")
										img(src='images/1style/a1.jpg' alt='')
								.galary__item
									a.galary__img(href="images/1style/2.jpg" data-fancybox="gallery1")
										img(src='images/1style/a2.jpg' alt='')
								.galary__item
									a.galary__img(href="images/1style/3.jpg" data-fancybox="gallery1")
										img(src='images/1style/a3.jpg' alt='')
								.galary__item
									a.galary__img(href="images/1style/4.jpg" data-fancybox="gallery1")
										img(src='images/1style/a4.jpg' alt='')
								.galary__item
									a.galary__img(href="images/1all/1.jpg" data-fancybox="gallery1")
										img(src='images/1all/a1.jpg' alt='')
								.galary__item
									a.galary__img(href="images/1all/2.jpg" data-fancybox="gallery1")
										img(src='images/1all/a2.jpg' alt='')
								.galary__item
									a.galary__img(href="images/1all/3.jpg" data-fancybox="gallery1")
										img(src='images/1all/a3.jpg' alt='')
								.galary__item
									a.galary__img(href="images/1all/4.jpg" data-fancybox="gallery1")
										img(src='images/1all/a4.jpg' alt='')
								.galary__item
									a.galary__img(href="images/1all/5.jpg" data-fancybox="gallery1")
										img(src='images/1all/a5.jpg' alt='')
								.galary__item
									a.galary__img(href="images/1all/6.jpg" data-fancybox="gallery1")
										img(src='images/1all/a6.jpg' alt='')
								.galary__item
									a.galary__img(href="images/1all/7.jpg" data-fancybox="gallery1")
										img(src='images/1all/a7.jpg' alt='')
								.galary__item
									a.galary__img(href="images/1all/8.jpg" data-fancybox="gallery1")
										img(src='images/1all/a1.jpg' alt='')
								.galary__item
									a.galary__img(href="images/1all/9.jpg" data-fancybox="gallery1")
										img(src='images/1all/a2.jpg' alt='')
								.galary__item
									a.galary__img(href="images/1all/10.jpg" data-fancybox="gallery1")
										img(src='images/1all/a3.jpg' alt='')
								.galary__item
									a.galary__img(href="images/1all/11.jpg" data-fancybox="gallery1")
										img(src='images/1all/a4.jpg' alt='')
								.galary__item
									a.galary__img(href="images/1all/12.jpg" data-fancybox="gallery1")
										img(src='images/1all/a5.jpg' alt='')
								.galary__item
									a.galary__img(href="images/1all/13.jpg" data-fancybox="gallery1")
										img(src='images/1all/a6.jpg' alt='')

					.swiper-slide
						.galary__items
							.galary__row
								.galary__item
									a.galary__img(href="images/1style/1.jpg" data-fancybox="gallery3")
										img(src='images/1style/a1.jpg' alt='')
								.galary__item
									a.galary__img(href="images/1style/2.jpg" data-fancybox="gallery3")
										img(src='images/1style/a2.jpg' alt='')
								.galary__item
									a.galary__img(href="images/1style/3.jpg" data-fancybox="gallery3")
										img(src='images/1style/a3.jpg' alt='')
								.galary__item
									a.galary__img(href="images/1style/4.jpg" data-fancybox="gallery3")
										img(src='images/1style/a4.jpg' alt='')
					.swiper-slide
						.galary__items
							.galary__row
								.galary__item
									a.galary__img(href="images/1large/1.jpg" data-fancybox="gallery2")
										img(src='images/1large/a1.jpg' alt='')
								.galary__item
									a.galary__img(href="images/1large/2.jpg" data-fancybox="gallery2")
										img(src='images/1large/a2.jpg' alt='')
								.galary__item
									a.galary__img(href="images/1large/3.jpg" data-fancybox="gallery2")
										img(src='images/1large/a3.jpg' alt='')
								.galary__item
									a.galary__img(href="images/1large/4.jpg" data-fancybox="gallery2")
										img(src='images/1large/a4.jpg' alt='')
								.galary__item
									a.galary__img(href="images/1large/5.jpg" data-fancybox="gallery2")
										img(src='images/1large/a5.jpg' alt='')
								.galary__item
									a.galary__img(href="images/1large/6.jpg" data-fancybox="gallery2")
										img(src='images/1large/a6.jpg' alt='')
								.galary__item
									a.galary__img(href="images/1large/7.jpg" data-fancybox="gallery2")
										img(src='images/1large/a7.jpg' alt='')
